@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';
@import 'partials/_fonts.scss';
@import 'partials/_reset.scss';

body {
    font-family: $font;
    font-weight: 500;
    color: $black;
    line-height: 1.618;

    //HTML Elements
    h1,
    h2,
    h3,
    p,
    ul,
    ol,
    address {
        line-height: normal;
        margin: 0 0 1.618rem;

        span {
            background: $dark;
            color: $white;
            padding: 0 5px;
        }
    }

    h1,
    h2,
    h3 {
        font-weight: bold;

        span {
            font-weight: bold;
        }
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4.85rem;
        line-height: 1.25;
        margin: 0 0 100px;

        @include breakpoint(xl) {
            font-size: 4rem;
        }

        @include breakpoint(md) {
            font-size: 3rem;
            margin: 0 0 50px;
        }

        @include breakpoint(sm) {
            font-size: 2.25rem;
            text-align: left;
        }
    }

    h3 {
        font-size: 2rem;

        &.sub {
            margin: 0;
            text-align: left;
        }

        @include breakpoint(sm) {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 1.25rem;
        line-height: 1.25;
    }

    a {
        color: $black;
        transition: ease all 0.25s;

        &:hover {
            background: $dark;
            color: $white;
        }
    }

    ul,
    ol {
        font-size: 1.25rem;
        padding: 0 0 0 30px;

        li {
            margin: 0 0 10px;
        }

        &.padded {
            li {
                margin: 0 0 1.618rem;
            }
        }

        &.split {
            column-count: 3;
            margin: 0;

            &:last-of-type {
                margin: 0;
            }

            @include breakpoint(xl) {
                column-count: 2;
            }

            @include breakpoint(md) {
                column-count: 1;
                margin: 0 0 1.618em;
                text-align: left;
            }
        }

        &.logos {
            align-items: center;
            color: $dark;
            display: grid;
            flex-wrap: wrap;
            font-size: 7rem;
            justify-content: flex-start;
            gap: 15px;
            grid-template-columns: repeat(3, 1fr);
            list-style: none;
            padding: 0;

            li {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0;
            }

            @include breakpoint(md) {
                font-size: 5rem;
            }

            @include breakpoint(md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @include breakpoint(md) {
            font-size: 1.25rem;
        }
    }

    br {
        @include breakpoint(md) {
            display: none;
        }
    }

    blockquote {
        font-size: 1.25rem;
        margin: 0 auto calc(1.618em * 2);
        max-width: 720px;
        line-height: normal;
        text-align: center;

        cite {
            display: block;
            clear: both;
            font-size: 1rem;
            font-style: normal;
            margin: 1rem 0 0;
        }

        &:last-of-type {
            margin: 0 auto;
        }
    }

    section {
        min-height: 70vh;
        padding: 150px 0;
        position: relative;
        width: 100%;

        &.flex {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        @include breakpoint(xl) {
            width: 100%;
        }

        @include breakpoint(md) {
            min-height: 0;
            padding: 50px 0;
        }
    }

    //Utility classes

    .container {
        margin: 0 auto;
        max-width: 1180px;
        padding: 0 15px;
        width: 100%;
    }

    .flex-split {
        align-items: center;
        display: flex;

        >* {
            flex-basis: 50%;
            flex-grow: 1;

            @include breakpoint(xl) {
                flex-basis: 100%;
                width: 100%;
            }
        }

        @include breakpoint(xl) {
            align-items: flex-start;
            flex-direction: column;

            >:first-of-type {
                margin: 0 0 50px;
            }
        }
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;

        @include breakpoint(xl) {
            text-align: left;
        }
    }

    .text-center {
        text-align: center;
    }

    //Modules
    .btn {
        background: transparent;
        border: none;
        color: $white;
        display: block;
        font-weight: bold;
        margin: 1.618rem 0 0;
        max-width: 250px;
        padding: 15px 50px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        transition: all ease 0.25s;
        width: auto;

        &:hover {
            opacity: 1;
            background: $white;
            color: $dark;
        }

        &.special {
            color: $white;
            background: $black;

            &:hover {
                background: $dark;
                color: $white;
            }
        }

        @include breakpoint(sm) {
            width: 100%;
            display: block;
        }
    }

    #mobile-toggler {
        display: none;
        padding: 1.618em;
        outline: none;

        /*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
        &.hamburger {
            padding: 30px 15px 25px;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible;

            &:hover {
                opacity: 0.7;
            }

            .is-active:hover {
                opacity: 0.7;
            }

            .is-active .hamburger-inner,
            .is-active .hamburger-inner::before,
            .is-active .hamburger-inner::after {
                background-color: $white;
            }

            .is-active .hamburger-inner,
            .is-active .hamburger-inner::before,
            .is-active .hamburger-inner::after {
                background-color: $white;
            }

            .hamburger-box {
                width: 40px;
                height: 24px;
                display: inline-block;
                position: relative;
            }

            .hamburger-inner {
                display: block;
                top: 50%;
                margin-top: -2px;
            }

            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                width: 40px;
                height: 4px;
                background-color: $white;
                border-radius: 4px;
                position: absolute;
                transition-property: transform;
                transition-duration: 0.15s;
                transition-timing-function: ease;
            }

            .hamburger-inner::before,
            .hamburger-inner::after {
                content: '';
                display: block;
            }

            .hamburger-inner::before {
                top: -10px;
            }

            .hamburger-inner::after {
                bottom: -10px;
            }

            /*
   * Squeeze
   */
            &.hamburger--squeeze .hamburger-inner {
                transition-duration: 0.075s;
                transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            &.hamburger--squeeze .hamburger-inner::before {
                transition: top 0.075s 0.12s ease, opacity 0.075s ease;
            }

            &.hamburger--squeeze .hamburger-inner::after {
                transition: bottom 0.075s 0.12s ease,
                    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            &.hamburger--squeeze.is-active .hamburger-inner {
                transform: rotate(45deg);
                transition-delay: 0.12s;
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &.hamburger--squeeze.is-active .hamburger-inner::before {
                top: 0;
                opacity: 0;
                transition: top 0.075s ease, opacity 0.075s 0.12s ease;
            }

            &.hamburger--squeeze.is-active .hamburger-inner::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.075s ease,
                    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            @include breakpoint(md) {
                padding: 20px 15px 15px;
            }
        }

        @include breakpoint(xl) {
            display: block;
        }
    }

    nav {
        align-items: center;
        display: flex;

        #navigation {
            display: flex;
            font-size: 1rem;
            list-style-type: none;
            margin: 0 1.168rem 0 0;
            padding: 0;
            transition: all .5s ease-in-out;

            li {
                margin: 0;

                a {
                    display: block;
                    font-size: 1.25rem;
                    padding: 1.618rem calc(1.618rem / 2);
                    position: relative;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 0%;
                        left: 0;
                        top: 0;
                        background: $black;
                        opacity: 0;
                        width: 100%;
                        transition: all .35s ease-in-out;
                        z-index: -1;

                        @include breakpoint(xl) {
                            display: none !important;
                        }
                    }

                    &:hover {
                        background: transparent;

                        &:after {
                            opacity: 1;
                            height: 100%;
                        }
                    }

                    @include breakpoint(xl) {
                        padding: 0;

                        &:after {
                            visibility: hidden !important;
                        }

                        &:hover {
                            color: $dark;
                        }
                    }

                    @include breakpoint(xl) {
                        font-size: 1.5rem;
                        padding: 1.618rem 1.618rem 0 1em;

                        &:hover {
                            background: transparent;

                            &:after {
                                visibility: visible !important;
                                animation: linkHover 0.5s forwards 0s ease-in-out;
                            }
                        }
                    }
                }

                @include breakpoint(xl) {
                    display: inline-block;
                    margin: 0 1.618em 0 0;
                }

                @include breakpoint(lg) {
                    display: block;
                    margin: 0;
                }
            }

            @include breakpoint(xl) {
                flex-direction: column;
            }
        }

        @include breakpoint(xl) {
            align-items: flex-start;
            background: $black;
            flex-direction: column;
            opacity: 0;
            height: 100%;
            pointer-events: none;
            position: fixed;
            left: 0;
            top: 75px;
            width: 100%;
        }

        @include breakpoint(md) {
            top: 65px;
        }
    }

    .social {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 1.618rem 0 0;

            &:last-of-type {
                margin: 0;
            }
        }

        a {
            display: block;
            font-size: 2rem;
            margin: 0;

            &:hover {
                background: transparent;
                color: $black;

                @include breakpoint(xl) {
                    color: $dark;
                }
            }
        }

        @include breakpoint(xl) {
            padding: 30px 25px 0;
        }
    }

    .logo {
        display: block;
        font-size: 3rem;
        margin: 0;
        padding: 0;

        a:hover {
            background: $black;
            color: $white;
        }

        @include breakpoint(md) {
            font-size: 2rem;
        }
    }

    .details {
        font-size: 1rem;
        font-weight: bold;
        margin: 0 0 1rem !important;

        @include breakpoint(md) {
            font-size: .95rem;
        }
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &__card {
            position: relative;
            width: 100%;

            a {
                text-decoration: none;
            }

            figure {
                height: 350px;
                width: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                }

                cite {
                    align-items: center;
                    background: $dark;
                    color: $white;
                    display: flex;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: bold;
                    height: 100%;
                    justify-content: center;
                    opacity: 0;
                    padding: 15px;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    transition: all .5s ease;
                    width: 100%;
                    z-index: 1;

                    @include breakpoint(sm) {
                        background: $clearDark;
                        opacity: 1;
                    }
                }
            }

            &:hover {
                cite {
                    opacity: 1;
                }
            }
        }

        @include breakpoint(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(md) {
            grid-template-columns: repeat(1, 1fr);
        }

        @include breakpoint(sm) {
            gap: 15px;
            padding: 0 15px;
        }
    }

    #skip-link {
        position: absolute;
        left: -999px;
        width: 1px;
        height: 1px;
        top: auto;

        &:focus {
            color: transparent;
            display: inline-block;
            height: auto;
            width: auto;
            position: static;
            margin: auto;
        }
    }

    #hero {
        align-items: center;
        background: $dark;
        border: 0;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        color: $white;
        display: flex;
        justify-content: center;
        height: 100vh;
        overflow: hidden;

        h1 {
            display: inline-block;
            font-size: 6rem;
            line-height: 1.35;
            margin: 0;

            span {
                background: $white !important;
                color: $dark !important;
            }

            @include breakpoint(lg) {
                font-size: 4rem;
            }

            @include breakpoint(sm) {
                font-size: 3.5rem;
            }
        }

        .btn:hover {
            background: $white;
            color: $dark;
        }
    }

    #experience p {
        margin: 0 0 2.5em;
    }

    //Landmarks
    header {
        align-items: center;
        background: transparent;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 0 1.618rem;
        position: fixed;
        transition: all .5s ease;
        width: 100%;
        z-index: 1000;

        a {
            color: $white;
            font-weight: bold;
            text-decoration: none;
        }

        &.open {

            nav {
                opacity: 1;
                pointer-events: all;
            }
        }

        &.scrolled {
            background: $black;
            color: $white;

            a:hover {
                color: $dark;
            }
        }

        @include breakpoint(xl) {
            align-items: center;
            background: $black;
            display: flex;
            justify-content: space-between;
            height: auto;
            position: fixed;
            width: 100%;
        }
    }

    main {

        @include breakpoint(xl) {
            padding: 85px 0 0;
        }

        @include breakpoint(lg) {
            padding: 0;
        }
    }

    footer {
        grid-area: footer;
        background: $black;
        color: $white;
        font-size: 0.75em;
        padding: 1.618em 3.36rem;
        text-align: center;
    }
}